{
  "extends": ["eslint:recommended", "airbnb"],
  "rules": {
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "indent": 0,
    "linebreak-style": 0,
    "max-len": 0
  },
}